[2015-06-16 10:37] drdadr opened #1 "Resolved: Does not work under Windows 7"
So I cloned it directly from GitHub and it works fine under MacOS but it won't work under Windows 7.
Compiling the Mex functions works, but when I try to access data from the object it errors:

The Code and the image file is exactly the same on both machines so it's not actually an assignment mismatch or reading error. I tracked the error down to the sub function: `<TS_read_Tiff_striped_chunky>`
i

[2015-06-24 07:31] DylanMuir commented on #1
Hi,
Could you please let me know which versions of matlab you are using on both the OS X and the Windows 7 system (using `version`)?

[2015-06-26 13:11] drdadr commented on #1
Windows 7: 8.4.0.150421 (R2014b)
OS X: 8.5.0.197613 (R2015a) (But I have been using it under the same R2014b successfully)

But I haven't tried the commit you made 3 days ago yet.

[2015-06-29 08:33] drdadr commented on #1
So I tried the latest commit on both R2014b and R2015a on Windows 7 and R2015a on Mac OS X and now it's not working on either one, but I get a different error:
( I did delete and recompile the MEX files, just to be sure, recompiling works fine)

Undefined function or variable "vnRetDataSize".

Error in TIFFStack/subsref (line 367)
               if (prod(vnRetDataSize) == 0)

[2015-06-29 09:43] DylanMuir commented on #1
Sorry for that reversion. The latest commit should fix that issue.

Could you try again please? And include the `matlab` command which fails on Windows 7 but not OS X?

Thanks,
Dylan.

[2015-06-29 09:53] drdadr commented on #1
So the commit fixed the new error. Now it's working again on Mac but not on Windows. I tested it on another windows machine and the same error occurs.

[code]

[2015-06-29 10:05] DylanMuir commented on #1
Ok. Please try `ts(end)` and let me know.

[2015-06-29 10:05] DylanMuir commented on #1
What are the dimensions of your stack? (i.e. `size ts`)?

[2015-06-29 10:08] drdadr commented on #1
Here you go

[code]

[2015-06-29 10:22] DylanMuir commented on #1
Ok. Please pull the latest commit, create your stack, type `diagnostic(ts)`, and send me the output.

[2015-06-29 10:29] drdadr commented on #1
[code]

[2015-06-29 11:40] DylanMuir commented on #1
Please comment out lines 234 and 236, leaving line 235 in:

[code]

and try again with `diagnostic(ts)`, `ts(1)` and `ts(end)`.

[2015-06-29 11:46] drdadr commented on #1
[code]

[2015-06-29 11:50] DylanMuir commented on #1
Please comment out line 671 (`try`) and lines 688--694 (`catch` to `end`), try `ts(1)` and send me the error message.

[2015-06-29 11:57] drdadr commented on #1
I did that but note that the error gets thrown in Line 719, so the result stays the same:

[code]

So I did additionally comment out the try-catch statements for the block in which the error get actually thrown (712-731) and this is the result:

[code]

[2015-06-29 12:06] DylanMuir commented on #1
Great, thanks. Please revert lines 234 and 236 and try again.

[2015-06-29 12:09] drdadr commented on #1
[code]

[2015-06-29 12:42] DylanMuir commented on #1
Please send a copy of the matlab toolbox file `Tiff.m`, from the Windows 7 machine, by attaching it to this issue. Or you can mail it to me if you prefer.

Thanks for your willingness to help debug!

[2015-06-29 13:03] drdadr commented on #1
Github doesn't allow attaching anything but images. I've emailed you the file.  I appreciate your dedication getting this to run.

[2015-06-30 07:19] DylanMuir commented on #1
Ok, it's seriously weird. Please run with `dbstop error`, and when it breaks, please send me this output:

[code]

[2015-06-30 07:53] drdadr commented on #1
[code]

I have sent you the mat file per email

[2015-06-30 07:59] DylanMuir commented on #1
All the values look reasonable. Last thing to check is what's coming our of `tifflib`. Please replace line 853 with:

[code]

and then please send me the workspace again.

[2015-06-30 08:03] drdadr commented on #1
[code]

[2015-06-30 21:38] DylanMuir commented on #1
Could you please send a copy of the offending tiff file, from the windows machine?

[2015-07-01 08:25] drdadr commented on #1
I've sent you a shared link to a google drive folder containing the file.

[2015-07-01 09:23] DylanMuir commented on #1
This bug should now be fixed in the latest commit. Please pull the latest changes and check.

`imfinfo` reported a different number of rows per strip than `tifflib`, _only_ on Windows. The number reported by `tifflib` was correct. `TIFFStack` now checks for this inconsistency, and uses the `tifflib` value.

Thanks again for helping out with debugging.

[2015-07-01 09:23] #1 closed, assigned to DylanMuir

[2015-07-01 10:23] drdadr commented on #1
Thanks for your commitment to resolving my issue. Works fine now.

[2015-07-01 10:59] DylanMuir commented on #1
Great, thanks for letting me know.

[2015-12-15 16:14] scottclowe opened #4 "Add LICENSE file"
Hi @DylanMuir,
We would like to use your code as a dependency in a toolbox we (myself + @swkeemink) are developing.
However, there is no LICENSE or COPYING file in the repository, and no license details are mentioned in the README, so it is not clear what license the code is distributed under and we cannot use your package unless it is explicitly distributed under an open source license.

Could yo

[2015-12-15 18:04] DylanMuir commented on #4
I added licensing information to `README.md` and `LICENSE.md`.

[2015-12-15 18:04] #4 closed, assigned to DylanMuir

[2015-12-15 18:28] scottclowe commented on #4
Great, thanks!

[2016-04-05 15:01] bugalo opened #7 "Support for ImageJ's fake TIF files, when file size is > 4Gb"
I have some tiff stacks bigger than 4G, and TIFFStack is not able to handle them. Are you planning on supporting them?

Thank you!

[2016-04-05 15:21] DylanMuir commented on #7
Hi @bugalo, I need a little more information.

As long as `tifflib` provided by `Matlab` supports `TIFF` files > 4Gb, then `TIFFStack` should support them out of the box. However, this hasn't been tested.

A couple of things to check: what version of `Matlab` are you using, and on what platform? With what software were the files generated? Are the files really `BigTIFF` format files, or are they `

[2016-04-05 18:39] bugalo commented on #7
Edit: this message has some incorrect information. Read the next ones.

Original message:

Hi Dylan,

thank you very much for responding so quickly.

The Tiff is a stack that I created using ImageJ, and I thought it was using BigTIFF format. I will check it as soon as I am in front of that computer, so maybe that is the problem.

Regarding Matlab, I am using version R2015b on Linux.

When I type M

[2016-04-05 18:46] DylanMuir commented on #7
Hi,

Yep, that’s the problem. `ImageJ` makes a fake `TIFF` file, with a single `TIFF`-format image as the header, followed by the entire stack as a binary data file. Then they call the whole thing a TIF file. I really don’t know how they justify such a weird design decision.

Anyway, I’m surprised that

Tiff( 'my_file.tif', 'w8’)

works at all. I’ll take a look into it.

Cheers,
Dylan.

[2016-04-06 05:27] DylanMuir commented on #7
By the way, `Tiff('file.tif', 'w8')` immediately overwrites the file with a new empty BigTIFF file, so that doesn't help you at all.

[2016-04-06 07:28] bugalo commented on #7
Hi Dylan,

sorry about the confusion. As I said yesterday, I was not in front of the computer and I didn't remember exactly what was happening. I have fairly large stacks, some with around 4.2GB, and the largest one with 4.8GB. All were created exactly the same with ImageJ, and the only one I cannot open is the 4.8GB one.

It turns out I didn't correctly remember the result of Tiff( 'my_file.tif',

[2016-04-06 17:42] DylanMuir commented on #7
Hi @bugalo, I have just pushed an update which natively supports `ImageJ`'s fake `TIF` files > 4Gb. Please let me know if this works for you. Note that you will need [the `MappedTensor` package](https://github.com/DylanMuir/MappedTensor).

[2016-04-06 17:42] #7 closed, assigned to DylanMuir

[2016-04-07 11:03] bugalo commented on #7
I've just checked it, and I can confirm that it works.

Thank you very much for taking the time to implement it.

[2016-08-02 10:59] DylanMuir opened #9 "BIGTiff files can be read using experimental branch"
`tiffread31_info` breaks when testing the magic number for `BigTIFF` files. `TIFFStack` refuses to load the file.

[2016-08-02 11:02] DylanMuir opened #10 "Resolved: `vnInterleavedDimensions` stack size bug"
Putting a 1 as the last of `vnInterleavedDimensions` makes `TIFFStack` incorrectly report the number of frames in the `TIFF`.

[2016-08-02 12:41] DylanMuir commented on #9
Experimental `BigTIFF` support in branch `big_tiff_support`

[2016-10-12 17:07] ablot commented on #10
I ran into that problem while using the big stack branch, but any 1 is a problem, not only at the last position.

That works:
`stacks = TIFFStack(p, [], [2,2]);`

But these fail:
`stacks = TIFFStack(p, [], [1,1]);`
`stacks = TIFFStack(p, [], [1,2]);`
`stacks = TIFFStack(p, [], [2,1]);`

(No crash just returns only the first image instead of the reshaped 512x512x900 stack)

[2016-10-13 09:08] ablot commented on #10
Maybe resolved by https://github.com/DylanMuir/TIFFStack/pull/11
The `size` function was stopping at the first unitary dimension, not the last. At least with the PR I have that:

[code]

(the first 2 were 512 512 before the PR)

[2016-10-14 12:48] DylanMuir commented on #10
Thanks @ablot for fixing this bug. Please re-open if you notice another permutation of it.

[2016-10-14 12:48] #10 closed, assigned to DylanMuir

[2016-10-14 12:49] DylanMuir commented on #9
Some issues have been reported when using the `big_tiff_support` branch to open standard `TIFF` format files. Please check and report any problems.

[2016-11-04 14:12] DylanMuir commented on #9
BigTIFF support is now merged into the `master` branch.

[2016-11-04 14:12] #9 closed, assigned to DylanMuir

[2016-11-08 09:35] DylanMuir opened #14 "Resolved: Issue reading non-square ImageJ BigStacks"
(Copied from file exchange)

Hi,

I am running into a problem with `TiffStack` specifically when I try to load >4GB uint16 tiff stacks that have been saved in imageJ (ie 'big stacks' dealt with by the 'OpenImageJBigStack' functionality).

After `TiffStack` is done running on these faulty-headed tiff files (successfully calling `MappedTensor`), when I plot frames from the resultant `tsStack` object

[2016-11-08 10:06] DylanMuir commented on #14
Please let me know the exact dimensions of your stack, if possible. Also let me know what version of `ImageJ` you have, and please check you are using the latest versions of `TIFFStack` and `MappedTensor`.

[2016-11-08 12:38] DylanMuir commented on #14
I have just fixed a bug in `TIFFStack` where the number of frames, channels, slices would be set incorrectly, since `ImageJ` doesn't write these values out if they are equal to 1. Please check to see if that fixes your issue.

[2016-11-08 19:23] raswanson commented on #14
Hi Dylan,

Thanks so much for the speedy reply. The stack has dimensions 512 x 672 x 9000 (rows,col,time).; ImageJ v1.49 ; just updated to latest version of TIFFStack and MappedTensor. Unfortunately, still running into the same problem. When I save the file in imageJ, I get the following info if I want to open the file as 'raw':
name=Untitled, dir=, width=672, height=512, nImages=9000, offset=3040

[2016-11-09 10:06] DylanMuir commented on #14
@raswanson Thanks for getting back to me. The issue was in constructing the `MappedTensor` to read the stack — the first two dimensions were incorrectly assigned, leading the image to be incorrectly shaped. I've just committed a fix; please check that everything looks good for you now, and reopen this issue if there are still problems.

Thanks for your help in fixing the bug!

[2016-11-09 10:06] #14 closed, assigned to DylanMuir

[2016-11-30 16:42] DylanMuir opened #18 "Stacks with varying image data storage configurations cannot be read"
`TIF` files may have arbitrary image sizes and storage configurations per frame. `TIFFStack` currently assumes that all images share a common size and storage configuration. This means stacks that do not adhere to this rule cannot be read properly, although a `TIFFStack` object can be successfully created.

Frames which have a differing storage configuration to the first frame, will raise an error

[2016-11-30 16:44] DylanMuir commented on #18
I have created a branch [dev-different-image-config](https://github.com/DylanMuir/TIFFStack/tree/dev-different-image-config-in-stack) that hopefully fixes this bug. @ablot, please check if this works for you.

[2016-12-12 09:43] ablot opened #19 "Resolved: Files with more than 2^16 images cannot be accessed correctly"
I have a tiff created by scanimage 6 with 4 channels. It's big and in a single file:
[code]

I can load the beginning with no problem
[code]

But after that, nothing can be read:
[code]

Maybe not by chance, 16384*4 = 65536

I'm on branch master, commit b083ad97ca64b907cbcbff59babbbcb8ac01dc5d. I have the same problem with dev-different-image-config-in-stack.
Can it be a biggtif problem?

[2016-12-12 09:57] ablot commented on #19
I just double checked. `ImageJ` can read the file properly and if I try to open without interleaving the channels:

[code]

I have the save problem
[code]

[2016-12-12 10:15] DylanMuir commented on #19
As of `Matlab 2016a`, even `Matlab` can't access frame `65537`. `Tiff.setDirectory()` gives the same error.

[2016-12-12 10:17] ablot commented on #19
great. Revert back to 2015 would be the simplest fix for now?

[2016-12-12 10:18] DylanMuir commented on #19
Been a problem for a while...
[stackoverflow](http://stackoverflow.com/questions/23163315/matlab-cannot-read-multipage-tiff-beyond-216-frames)

[2016-12-12 10:18] DylanMuir commented on #19
Sorry; `Matlab` *even up to* `2016a` can't do it.

[2016-12-12 10:18] DylanMuir commented on #19
I'm not sure there is a fix possible...

[2016-12-12 10:20] ablot commented on #19
no problem. I'll open with ImageJ and save multiple substacks with less than 2^16 frames each. I'll probably loose the scanimage header information but that's not critical for this example.

Thanks

[2016-12-12 10:24] DylanMuir commented on #19
Hold up a moment. Let me see if using the slower access method works.

[2016-12-12 14:02] DylanMuir commented on #19
There is a trial fix in the `dev-different-image-config-in-stack` branch. All frames can be accessed using the `tiffread` code.

[2016-12-12 16:33] ablot commented on #19
Works like a charm :+1:

[2016-12-12 16:33] #19 closed, assigned to DylanMuir

[2016-12-12 16:38] DylanMuir commented on #18
@ablot Can I close this also?

[2016-12-12 16:43] DylanMuir commented on #18
Now merged into `master` branch

[2016-12-12 16:44] DylanMuir commented on #19
Now merged into `master` branch.

[2016-12-12 16:49] ablot commented on #18
I guess. There will still be an issue if something saves a stack with the information for row per strip only in the first frame and not after, but I have no tiff like that.

[2016-12-12 16:51] DylanMuir commented on #18
Resolved by assuming that frames with no RPS information are stored by saving each entire frame in a contiguous chunk.

[2016-12-12 16:51] #18 closed, assigned to DylanMuir

[2016-12-20 09:31] machiroi opened #20 ".ImageDescription does not appear after getImageInfo()"
Hi,
I was using TIFFStack to load time-lapse tiff images saved by ImageJ (FIJI) on Mac with the following code.

[code]

To obtain the frame interval information I was using ImageDescription but the current version does not create that one. Is there another way to get such info? I can use a version released before December.

Makoto

[2016-12-20 09:46] DylanMuir commented on #20
Hi Makoto,

You need to use the ‘getImageTags’ method, in the latest update. This is because for many large stacks, several of those text fields were using unreasonable amounts of Matlab’s memory.

I hope this helps, and I’m sorry for the change in usage.

Best regards,
Dylan.

[2016-12-20 09:46] #20 closed, assigned to DylanMuir

[2017-01-10 18:11] ablot opened #23 "Get offset position to find varying metadata"
In scanimage files, every frame as a `Software` field. But all of them point to the same offset at the beginning of the file (32 for me). Is there a way to get the position of the field for a given frame so that I can know if my metadata are read from different places or not?
Basically I would like to access to `fpos` found in tiffread31_readtags.m L356 but I don't know how to do that from a stack

[2017-01-18 19:40] bpisaacoff opened #24 "Error reading ANDOR tags in tiffread31_readtags"
Hi Dylan, thank you so much for TIFFStack this has sped up my work so much!

I've just updated to Matlab 2016b and re-downloaded this code (within the week). All of a sudden I'm getting an error, which after much chasing, is coming from the Andor tags section in the tiffread31_readtags function. Sometimes different tags, with the attached file it's with the exposureTime tag. Specifically I'm getti

[2017-01-18 20:39] DylanMuir commented on #24
Hi @bpisaacoff, I have pushed a commit that fixes this issue, and allows you to read in the ANDOR tags.

Thanks for flagging the issue!
Dylan.

[2017-01-18 20:39] #24 closed, assigned to DylanMuir

[2017-01-18 20:48] bpisaacoff commented on #24
Awesome thanks so much for the quick fix. I'll be sure to let you know if we
have further issues.
------------------------Ben Isaacoff

On Wed, Jan 18, 2017 3:39 PM, Dylan Muir notifications@github.com
wrote:
Closed #24.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2017-01-31 22:15] raswanson commented on #14
Hi Dylan,

Your TiffStack function is working almost perfectly post the fix above - just one final problem I'd hugely appreciate help with!

TiffStack successfully loads tiff stacks > 4 GB and I can access this data via indexing into the created object, however when I access a single slice of the data (tiffstack(:,:,1)), the following warning prints 5 times:
-------------------------------
Warning

[2017-01-31 22:56] DylanMuir commented on #14
Hi,

This is because whatever software that makes the tiff file is putting in some custom tag. You can turn off the warning using the matlab `warning` function. Use `lastwarn` to get the warning code to use.

Cheers,
Dylan.

[2017-02-02 15:10] DylanMuir commented on #23
I'm not sure how to come up with a general solution for this, that doesn't add a 64-bit value to every tag for every image (when reading the tags). I'm also not sure if it's something that would be of general use. One could do it for particular tag types, but how to choose which ones?

If you strenuously disagree, reopen the issue and I'll reconsider :)

[2017-02-02 15:10] #23 closed, assigned to nobody

[2017-02-19 20:12] bpisaacoff opened #25 "Slow loading from server compared with hard drive (much slower than ImageJ)"
Hello, I'm seeing an issue where loading files from a server goes much slower than loading from the hard drive. I don't think it's a problem with the server, as ImageJ doesn't show such a drastic time difference. I've got the times below for the same 22 MB file. Any ideas what is going on or how to improve the load time? Using Windows 7, Matlab 2016b

Time to load in Matlab w/ TIFFStack
hard drive

[2017-02-20 08:17] DylanMuir commented on #25
Hi @bpisaacoff, when timing read operations you have to be very careful about caching, as you're probably aware. On my system (OS X 11.6, Matlab 2016a), starting always from a purged file cache, my timings for a 1GB file are:

TIFFStack:
`tic; ts=TIFFStack('HyperStack.tif');ts(:, :, :, :);toc`
   HDD: 15.9s
   Network: 44.8s (factor 2.87x)

Image J:
   HDD: 4.9s
   Network: 27.8s (factor 5.76x)

F

[2017-02-20 16:14] bpisaacoff commented on #25
Hi Dylan, thanks so much for the quick and thorough feedback. Actually I'm not super clear about what you're referring to about clearing the cache. Could you clarify please? Thanks

[2017-02-21 12:45] DylanMuir commented on #25
About file caching: https://msdn.microsoft.com/en-us/library/windows/desktop/aa364218(v=vs.85).aspx

Tool for clearing the cache: http://www.tmurgent.com/Tools/ATM/Default.aspx

[2017-06-21 12:38] YishGene commented on #1
Hello,
I'm trying to use your TIFFStack library and getting errors like this on stacks taken on scanimage system. I can ready the first channel in the first image, but any attempt to get further than that gives me the error:

[code]

i.e. this works:
[code]

but this not:
`a = t(:,:,2,1)`

Thanks!
Yishai

[2017-06-27 19:32] DylanMuir opened #26 "Cannot access multiple channels in demultiplexed scanimage stack"
Hello,
I'm trying to use your TIFFStack library and getting errors like this on stacks taken on scanimage system. I can ready the first channel in the first image, but any attempt to get further than that gives me the error:

[code]

i.e. this works:
[code]

but this not:
`a = t(:,:,2,1)`

Thanks!
Yishai
@YishGene

[2017-06-27 19:34] DylanMuir commented on #1
Extra comment moved to new issue #26

[2017-06-27 19:35] DylanMuir commented on #26
Hi @YishGene,
Could you please tell me the expected size of the ScanImage stack, and the result of typing `size(t)` in Matlab?

[2017-06-27 20:58] YishGene commented on #26
Hi @DylanMuir ,

thanks for your reply!

[code]

This is the expected size. On disk it's ~2.07 GB, and the only thing slightly off with these tiffs is that reading them using tifflib results in warnings of this sort:
[code]
-Yishai

[2017-06-27 21:06] YishGene commented on #26
OK, here's something weird: I can't seem to reproduce the error now. Matlab has been killed and restarted a number of times since I encountered the issue, and now I can go all these operations without error. I don't know exactly what else has changed. I'm not entirely sure what tiff I was originally trying to open but a random selection of other tiffs worked all fine. Sorry!

[2017-06-28 07:56] DylanMuir commented on #26
Easiest resolution ever! :)

[2017-06-28 09:02] #26 closed, assigned to nobody

[2017-06-28 09:03] #25 closed, assigned to DylanMuir

[2017-10-10 16:36] ThomasCh666 opened #27 "Matlab system error when running the function with 2017b version"
Hi, thanks for your work.
Matlab is crashing when running TIFFStack with the 2017b version, apparently there is something wrong happening while running some MEX file (see following crash report). I double checked and everything is fine with the 2016b version though.
Would you have an idea on how to fix it? Thx.

Matlab crash dump:

Abnormal termination:
Illegal instruction

Register State (from fa

[2017-10-10 19:03] DylanMuir commented on #27
Hi @ThomasCh666, thanks for this report. Could you please try deleting the `TIFFStack` repository and cloning it again, to see if the crash still occurs?

Thanks,
Dylan.

[2017-10-10 19:14] ThomasCh666 commented on #27
Just did it, matlab is still crashing, with same kind of info in crash report.

[2017-10-10 19:26] bpisaacoff commented on #27
I'm having the same issue the workspace output:
`

Warning: The following error was caught while executing 'TIFFStack' class destructor:
Invalid MEX-file 'C:\Users\isaacoff\Documents\MATLAB\@TIFFStack\private\tifflib.mexw64':
Missing symbol 'FileTimeToSystemTime' in 'C:\Program
Files\MATLAB\R2017b/bin/win64\API-MS-Win-Core-File-L1-1-0.dll' required by
'C:\Windows\System32\msvcrt.dll->C:\Windows\Sy

[2017-10-10 19:29] DylanMuir commented on #27
@bpisaacoff, this could be related to upgrading Matlab without re-cloning `TIFFStack`. Could you please try deleting `TIFFStack` and re-cloning it?

@ThomasCh666, I'm not sure what's going on. I don't have Matlab 2017b installed yet, but I will take a look next week to see if I can reproduce this.

[2017-10-10 19:30] bpisaacoff commented on #27
Yeah I did. Thanks

[2017-10-10 19:31] DylanMuir commented on #27
@bpisaacoff so you are still having this issue after re-cloning `TIFFStack`, is that correct?

[2017-10-10 19:34] bpisaacoff commented on #27
Yes, that's correct. The problem still persists.

[2017-10-10 19:34] DylanMuir commented on #27
That's a shame. Ok, thanks for your reports.

[2017-10-16 13:07] DylanMuir commented on #27
Dear @bpisaacoff and @ThomasCh666, please try going in to the directory `TIFFStack\private` and deleting any file called `libtiff.*`. Then restart matlab and try loading a TIFF file again.

[2017-10-16 18:12] bpisaacoff commented on #27
Did not work :( looks similar to the previous error, let me know if you want any details.

[2017-10-16 18:51] DylanMuir commented on #27
Sure. Please tell me what platform you're running. It worked for me today on 2017b on mac OS X 10.11.

[2017-10-16 19:02] bpisaacoff commented on #27
MATLAB Version: 9.3.0.713579 (R2017b)
MATLAB License Number: 820543
Operating System: Microsoft Windows 7 Enterprise  Version 6.1 (Build 7601: Service Pack 1)
Java Version: Java 1.8.0_121-b13 with Oracle Corporation Java HotSpot(TM) 64-Bit Server VM mixed mode

[2017-10-17 13:28] ThomasCh666 commented on #27
@DylanMuir I just tried, does not work for me either.
I use 2017b with mac os 10.12.5.
Do you have any hint to help deciphering the crash report?

[2017-10-17 14:37] DylanMuir commented on #27
@bpisaacoff and @ThomasCh666, the two of you seem to have different issues. @bpisaacoff, the crash log you sent shows missing symbols in `libtiff`, which suggested that the incorrect version of `libtiff` was being used. That's why I suggested deleting the file and trying again, since `TIFFStack` should then find the correct `.mexw64` file.

@ThomasCh666, I'm not sure what is going wrong. Could you

[2017-10-24 17:30] bpisaacoff commented on #27
Hey Dylan, the issue has been resolved. I downloaded the latest version from here and I noticed that in the error message it was referencing the wrong tifflib.mexw64. I found I had another version of that file in the path. I deleted that file and now everything works great.

Thanks for your help.

[2017-10-24 17:50] ThomasCh666 commented on #27
Same here, works fine now.
Thank you again for your help.

2017-10-24 19:30 GMT+02:00 bpisaacoff <notifications@github.com>:

[2017-10-24 17:52] #27 closed, assigned to nobody

[2017-10-25 08:28] DylanMuir opened #28 "Reading header tags is slow, especially for files with many frames"
The `tiffread31_header` function is slow to iterate over the IFDs in large files. `imfinfo` is fast, but reads all tags.

[2017-10-25 08:31] DylanMuir commented on #28
`imfinfo` is fast because it uses the undocumented Matlab `mex` file `matlab.io.internal.imagesci.tifftagsread`. The calling syntax appears to be:

[code]

`tifftagsread` is 10x faster than the matlab version of `tiffread31_header`, but reads *all* tags. This is undesirable for ScanImage TIFF files, since the headers contain large duplicated `Software` and `Artist` tags (and others?).

[2017-10-25 08:36] DylanMuir commented on #28
Suggestion: to write an accelerated `mex` version that reads only necessary tags from the TIF file.
Hassles:
- We can't know how many IFDs are in the file in advance. Therefore need to handle re-allocation or chaining of data. Return cell arrays, allocate cells with chunks of data as necessary?
- Returning structures is kind of a pain. Return a cell array for each tag, convert to a structure in Ma

[2017-11-16 15:26] DylanMuir opened #29 "Epic"

[2017-11-16 15:27] #29 closed, assigned to nobody

[2017-12-11 09:44] xyza11808 opened #30 "ImageJ hyperstacks which mis-report the number of frames in the stack cause an error"
hi, recently while using this code I have encountered with one issue:
the frame number read from tiff tag is larger than the real tiff frame number in my tif file, which was caused by the acquisition software automatically split the acquired frames into two tif files because of too many frames have been saved, and this error happens when reading the second tif file. it seems the code doesn't handl

[2017-12-11 09:54] DylanMuir commented on #30
Hi, thanks for your message.

I don't completely understand the problem. Could you please let me know exactly what error message is being reported by matlab? You could copy and paste the error messages from the command window.

How are you reading the frame number from the TIFF tags? Is the TIFF file an ImageJ file? Could you please send me an example TIFF file that raises an error, or make it ava

[2017-12-11 10:05] xyza11808 commented on #30
hi, such a quick reply!!
I will give a thorough description about the tif files:
during my acquisition, because too much frames need to be saved, the software automatically save all frames into two tif files, but somehow the software  set the numberFrame value of all tif files as the sum of all frames. for example,if the first tif file have 10000 frames, and second file have 3000 frames, then the

[2017-12-11 10:08] DylanMuir commented on #30
Thanks. What software are you using to save / split the TIFF files? Could you please send me an example TIFF file that raises an error, or make it available to download?

[2017-12-11 10:42] xyza11808 commented on #30
using the image J plug-in software: micro-manager 2.0
https://drive.google.com/file/d/1_meoCFco278MGmZVpJYJBJ_2HjPoQRD7/view?usp=sharing
don't know whether you can open this share?

[2017-12-11 12:35] DylanMuir commented on #30
Thanks, I am downloading the file.

[2017-12-11 12:58] DylanMuir commented on #30
Ok, I am testing a change which tries to recover gracefully from this mis-formed TIFF file, but I would appreciate it if you send a bug report to mico-manager. This is an error on their end.

[2017-12-11 13:00] xyza11808 commented on #30
yes, I will try with that, and thanks for your excellent work!

[2017-12-11 13:07] DylanMuir commented on #30
`TIFFStack` now reports these mis-formed stacks with a warning and attempts to continue. Fixed in commit [6492032](https://github.com/DylanMuir/TIFFStack/commit/6492032e4e2c0e0cda7a1ba8484cee76c0a02672).

[2017-12-11 13:07] #30 closed, assigned to DylanMuir

[2019-02-11 17:02] alecrimi opened #31 "tiffstack not opening the file"
Hi,
I am using Matlab 2018R with installed Tensormap and TiffStack.
I am trying to load one of those terrible multislice TIFF saved from Imagej which save the info only of the first. Imread is only able to read the first.
When I simply do

`tsStack = TIFFStack('left_c.tif');`
I get this error

`--- MappedTensor: Compiling MEX functions.
Warning: --- MappedTensor: Could not compile MEX functions.

[2019-02-11 17:20] DylanMuir commented on #31
Hi Alessandro

That seems strange. There’s a few problems here: the first is that `mex` may not be correctly configured, so you get the error about compilation failing. You could try to make sure that `mex` works, and then this may fix your problems.

But `TIFFStack` should work even without `mex`, so this is weird. Could you try turning debugging on with the `debug if error` command, and see what

[2019-05-09 08:37] XhXue commented on #31
Hi,
I'm using this code with matlab2018b to load my big tiff files converted by ImageJ (primary files are .fli).
This might be silly since I'm quite new to matlab. I'm running it using X2toGo on the server and tried:
tsStack = TIFFStack ('/xx/xx/Rec3.tif'); %%the full file path

And it showed me this:
Error using TIFFStack
Error: File: TIFFStack.m Line: 180 Column: 46
Invalid use of operator

Do I

[2019-05-09 12:02] XhXue opened #32 "Error in opening big tiff stacks"
Hi,
I'm using this code with matlab2018b to load my big tiff files converted by ImageJ (primary files are .fli).
This might be silly since I'm quite new to matlab. I'm running it using X2toGo on the server and tried:
tsStack = TIFFStack ('/xx/xx/Rec3.tif'); %%the full file path

And it showed me this:
Error using TIFFStack
Error: File: TIFFStack.m Line: 180 Column: 46
Invalid use of operator

Do I

[2019-05-20 08:47] DylanMuir commented on #31
Hi XhXue,
The TIFFStack unit tests pass on 2018b (at least on OS X), so I’m not sure what your problem could be. How big is your file? Can you reproduce this on a file that is small enough to send to me?

[2019-05-20 08:47] DylanMuir commented on #31
You don't need to have the file on the same path as the code, by the way.

[2019-05-22 14:09] XhXue commented on #31
Hi Dylan,

Thank you very much for the reply!
My matlab version is 2018a, before I tried your code with big tiff files that are larger than 4GB, and then I split them into small substacks (around 2.5GB), it shows the same error. Do you think it could be the old version issue?
Thank you!

[2020-04-17 19:14] dickinson-lab opened #33 "Support for slicing and concatenting?"
First of all, many thanks for this extremely useful tool - it's been a game-changer for me when working with multi-gigabyte tiff files in MATLAB.

I was wondering if you'd consider adding functions to slice and concatenate images without loading the entire file.  As a trivial example, suppose I have a TIFFStack object with size [600, 1200, 500] and I want to pass just half of it to another functio

[2020-04-18 07:00] DylanMuir commented on #33
Hi @dannyhmg, thanks for your comments! So for concatenation there is https://github.com/DylanMuir/TensorStack which should work out of the box for what you want. Slicing is much harder, but I had a vague idea that this was already supported somewhere — give me a moment to look.

I haven’t touched this code for quite a while, though. And supporting tensor referencing so it looks like a MATLAB tens

[2020-04-18 14:26] DylanMuir commented on #33
Ah, I was thinking of the de-interleaving in `TIFFSTack`. So there's no existing functionality to do this. I would suggest making a small wrapper class that does slicing on a tensor, and just passes the indices through. Maybe take a look at https://github.com/DylanMuir/LazyTensorTransform

[2020-04-18 14:32] #31 closed, assigned to nobody

[2020-04-18 14:32] #32 closed, assigned to nobody

[2020-04-20 15:52] dickinson-lab commented on #33
Hi Dylan, thanks very much for taking the time to reply.

I tested TensorStack and it indeed does exactly what I want - thank you!. I noticed that unlike TIFFStack, it doesn't include a license file. May I use a clone of TensorStack as part of an open-source package I am developing (https://github.com/dannyhmg/SiMPull-Analysis-Software), and if so, would you like to add a license?

Slicing is less

[2020-04-20 16:49] DylanMuir commented on #33
Great! I’m happy about that.

You’re welcome to use TensorStack in that way. I’ll add the same license as TIFFStack.

[2020-04-21 12:26] dickinson-lab commented on #33
Great - thanks again for your help and for sharing your work.

[2020-07-23 12:31] osoyer opened #34 "Conversion to other types"
I'm trying to perform some downstream analysis on tiff stacks and would like to use other functions in MATLAB image processing toolbox. Many of those require specific data types. Hence, is it possible to convert a TIFFStack object to type double, uint8, etc.? I can do this for individual slices as follow, but would be better to do on the full stack.

example on a slice;
tsStack = TIFFStack(filenam

[2020-07-27 13:47] DylanMuir commented on #34
Hi @osoyer

This is difficult, because it requires touching the entire stack. If you want the stack as a true Matlab `double` tensor, then you need to load the entire stack into memory — that's precisely what TIFFStack is trying to avoid.

Doing the analysis slice-wise is the most memory-efficient way. You could also do it chunk-wise, by looping over 3D chunks of the stack:

[code]

[2020-08-07 22:51] dickinson-lab opened #35 "Question about speed"
Greetings Dylan,

I'm noticing something about performance when loading regions of stacks that puzzles me, and I'd appreciate your feedback when your time allows.

I've got a large (800 x 1200 x 500) TIFFstack object and want to load _n_ small regions of interest into memory - these ROIs encompass just a few pixels in XY but the entire stack in Z.  For purposes of demonstration I used _n=3_ but in

[2020-08-08 08:58] DylanMuir commented on #35
Hi,
Thanks for your message. The differences in timing have to do with the way data is stored in a TIFF file. These files are stored as a series of frames, linked together in a linked list. Basically, you have to read at least the header of every frame, then skip to a few pieces of interest, then skip through the file to the next frame. Seeking through a file takes a fixed amount of time, whereas

[2020-08-10 13:24] dickinson-lab commented on #35
Thank you Dylan, this is an excellent suggestion.  To clarify, it wouldn't work if I just call `transpose()` on the TIFFStack object, would it?  That seems too easy.  Instead I would need to write the TIFF file to disk with the dimensions transposed, correct?  Do you know of any tools that can efficiently transpose a TIFF file on disk, or would I need to write my own?

[2020-08-10 14:00] DylanMuir commented on #35
You’re correct, simple `transpose()` won’t work. You can use `TIFFStack` for this; just create a new stack with the required dimensions, then read in the old stack and write it back out!

[2020-08-10 17:03] dickinson-lab commented on #35
Got it.  Many thanks for your help!
Dan

[2020-08-10 17:03] #35 closed, assigned to nobody

[2021-02-24 14:34] dickinson-lab opened #36 "Trouble reading tiff files saved by MATLAB"
I'm not sure whether this is an issue with TIFFStack or not, but I'm hoping you might be able to point me towards a solution.

I have a 3D stack that I have saved to disk using the MATLAB Tiff object, which I believe is a wrapper for libtiff.  I can open this file (and the image looks correct) using ImageJ or MATLAB `imread`, so it seems to be a bona fide TIFF file.  However, when I try to use TIF

[2021-02-24 15:08] dickinson-lab commented on #36
I think I figured it out: The issue is on line 44 of `tiffread31_header.m`. Current code is
`bos = fread(TIF.file, 2, '*char');`
The issue is that the 'char' format is platform-dependent, and apparently my system wasn't reading it correctly.  I changed it to
`bos = fread(TIF.file, 2, 'uchar=>char');`
which seems to have fixed the issue. Let me know if you want me to submit a pull request for this

[2021-04-26 21:33] dickinson-lab commented on #7
This is a useful enhancement, but requires calling the function tiffread31_readtags.m, which I found is very slow (see also #28).  Commenting out the line
[code]
and replacing with
[code]
makes TIFFStack run ~20x faster (2017 iMac desktop, MATLAB R2021a).  This of course breaks the support for ImageJ fake Tiff files >4GB, but is an improvement for smaller files including those we work with (which

[2021-11-17 21:32] dickinson-lab opened #37 "TIFFStack crashes on MATLAB R2021b"
We recently updated our MATLAB to R2021b, and are now getting errors with TIFFStack:
[code]
The warnings are normal and occur on previous versions, but the "bad cast" is new.  I have no idea what it means, but I presume there's an internal function that's been changed in R2021b that no longer works correctly with TIFFStack.

R2021a still works fine, so we can use that for now, but presumably you'l

[2021-12-20 21:35] dickinson-lab commented on #37
Never mind, this seems to be a simple case of needing to delete the mex files in the @TIFFStack/private folder and let the new version of MATLAB rebuild them. This is common when working with mex files that reference internal MATLAB functions.  Sorry for the silly post.

[2021-12-20 21:35] #37 closed, assigned to nobody

[2022-03-18 13:00] Tiphany-source opened #38 ".Tif"
-->[]()_https://user-images.githubusercontent.com/101230019/159007691-8a707ad3-bb88-4fad-95bf-6ad174be2b14.mp4_

[2022-03-19 06:28] Tiphany-source opened #39 "@TIFFStack"

[2022-04-01 18:31] ehennestad commented on #28
Hi, I have some ideas/questions about this.

1) Sometimes we might know how many images/IFDs are in a tiff file? What about creating an option for passing such information to the TIFFStack on creation? That could partially solve the problem of reallocation you describe above.

2) Sometimes, all the image in a tiff stack are uniform. Is it then necessary to read through all the headers? Say I know

[2022-08-09 01:39] marcel-goldschen-ohm opened #40 "Error with uint indexes"
I was getting this error when accessing TIFFStack data using uint32 indexes:

Error using TIFFStack>isvalidsubscript
*** TIFFStack: Subscript indices must either be real positive integers or logicals.

I solved this by changing line 1488 in TIFFStack.m from:
`validateattributes(oRefs, {'single', 'double'}, {'integer', 'real', 'positive'});`
to:
`validateattributes(oRefs, {'numeric'}, {'integer', '

[2022-08-09 02:23] marcel-goldschen-ohm commented on #40
Well, it seemed like it was working, but in retrospect it appears that using a uint32 index for the stack frame always returns the first frame, so my above fix is probably not what is wanted. I'm able to work around this by casting my frame index to a double value, which works but is not the expected behavior.

[2022-08-09 03:29] marcel-goldschen-ohm commented on #36
I'm also getting an error reading files written using Matlab's imwrite function. The error message I get complains about the compression format not being supported:

'Compression format 32773 not supported.'

I've tried specifying the compression mode in imwrite as 'none', 'packbits', or 'lzw', but none of those work. Any suggestions?